# 1-Common data problems

### Numeric data or ... ?

### *Import pandas using the alias pd

In [1]:
import pandas as pd

### *Import ride_sharing CSV file as a DataFrame: rsharing

In [ ]:
rsharing=pd.read_csv('ride_sharing.csv')
print(rsharing.head())

### 1-Print the information of rsharing.

In [ ]:
print(rsharing.info())

### 2-Use .describe() to print the summary statistics of the user_type column from rsharing.

In [ ]:
print(rsharing["user_type"].describe())

### Question
#### By looking at the summary statistics - they don't really seem to offer much description on how users are distributed along their purchase type, 
#### why do you think that is?

### Answer
#### The user_type column has an finite set of possible values that represent groupings of data, it should be converted to category.

### 3-Convert user_type into categorical by assigning it the 'category' data type and store it in new column: the user_type_cat

In [5]:
rsharing['user_type_cat']=rsharing['user_type'].astype('category')

#### 4-Make sure you converted user_type_cat correctly by using an assert statement.

In [6]:
assert rsharing['user_type_cat'].dtype=='category'

#### *Print new summary statistics

In [ ]:
print(rsharing['user_type_cat'].describe())

## Summing strings and concatenating numbers

#### 5-Use the str.strip() method to strip duration of "minutes" and store it in the duration_trim column.

In [9]:
rsharing['duration_trim']=rsharing['duration'].str.strip('minutes')

#### 6-Convert duration_trim to int and store it in the duration_time column.

In [10]:
rsharing['duration_time']=rsharing['duration_trim'].astype('int')

#### *Write an assert statement that checks if duration_time's data type is now an int.

In [11]:
assert rsharing['duration_time'].dtype == 'int'

#### *Print formed columns including 'duration','duration_trim','duration_time', and calculate average ride duration

In [ ]:
print(rsharing[['duration','duration_trim','duration_time']])
print(rsharing[['duration_time']].mean())

## Tire size constraints

#### 7-tire_sizes column has a category format. Convert the tire_sizes column from category to 'int'

In [12]:
rsharing['tire_sizes']=rsharing['tire_sizes'].astype('int')

#### 8-Use .loc[] to set all values of tire_sizes above 27 to 27.

In [13]:
rsharing.loc[rsharing["tire_sizes"]>27,'tire_sizes']=27

#### *Write an assert statement and check if the changes have been done.

In [14]:
assert rsharing["tire_sizes"].max()<=27

## Finding duplicates

### *Import pandas using the alias pd

In [15]:
import pandas as pd

### *Import ride_sharing CSV file as a DataFrame: ride_sharing

In [ ]:
rnsharing=pd.read_csv('sharing_new4.csv')
print(rnsharing)

### 9-Find duplicates only in bike_id column

In [17]:
duplicates = rnsharing.duplicated(subset='bike_id', keep=False)

In [18]:
type(duplicates)

pandas.core.series.Series

In [19]:
print(duplicates)

0      False
1      False
2       True
3      False
4      False
       ...
149    False
150     True
151     True
152     True
153     True
Length: 154, dtype: bool

##### print the out put duplicated raws

In [ ]:
duplicated=rnsharing[duplicates]
duplicated

### 10-Sort your duplicated rides

In [25]:
rnsharing['bike_id']=rnsharing['bike_id'].astype('int')
duplicated_rides = rnsharing[duplicates].sort_values(by='bike_id')

### *Print relevant columns:'ride_id','duration','user_birth_year'

In [ ]:
print(duplicated_rides[['bike_id','duration','user_birth_year']])

## Treating duplicates

### 11-Drop complete duplicates in ride_sharing and store the results in ride_dup.

In [84]:
rnsharing.drop_duplicates(inplace=True)

## 11-1-Print complete duplicated rows

In [85]:
complete_duplicated = rnsharing[rnsharing.duplicated(keep=False)]
complete_duplicated

Empty DataFrame
Columns: [duration, station_A_id, station_A_name, station_B_id, station_B_name, bike_id, user_type, user_birth_year, user_gender, tire_sizes, duration_trim, duration_time]
Index: []

#### *convert 'user_birth_year', 'duration_trim', 'duration_time' column type to 'int' , str.strip('minutes'), 'int'

In [ ]:
rnsharing['user_birth_year'] = rnsharing['user_birth_year'].astype('int')
rnsharing['duration_trim'] = rnsharing['duration'].str.strip('minutes')
rnsharing['duration_time'] = rnsharing['duration_trim'].astype('int')
print(rnsharing)

#### *Create the statistics dictionary which holds minimum aggregation for user_birth_year and mean aggregation for duration.

In [87]:
statistics = {'user_birth_year': 'min', 'duration_time': 'mean'}

### 12-Drop incomplete duplicates by grouping by ride_id and applying the aggregation in statistics.

In [89]:
ride_unique = rnsharing.groupby(by='bike_id').agg(statistics).reset_index()

### *print out ride_unique

In [ ]:
print(ride_unique)

### 14-Find duplicated values again

In [93]:
duplicates = ride_unique.duplicated(subset = 'bike_id', keep = False)
duplicated_rides = ride_unique[duplicates == True]

### Assert duplicates are processed

In [94]:
assert duplicated_rides.shape[0] == 0

# 2-Text and categorical data problems

# Finding consistency

### Import pandas using the alias pd

In [95]:
import pandas as pd

### Import airlines CSV file as a DataFrame: airlines

In [ ]:
airlines=pd.read_csv('irline.csv')
print(airlines.head())
airlines.shape

### Print the categories DataFrame and take a close look at all possible correct categories of the survey columns.

In [ ]:
categories=pd.read_csv('categories.csv')
print(categories)
categories.shape

### Print the unique values of the survey columns in airlines using the .unique() method.

In [ ]:
print('Cleanliness: ', airlines['cleanliness'].unique(), "\n")
print('Safety: ', airlines['safety'].unique(), "\n")
print('Satisfaction: ', airlines['satisfaction'].unique(),"\n")

### 15-Create a set out of the cleanliness column in airlines using set() and find the inconsistent category by 
### finding the difference in the cleanliness column of categories.

In [110]:
cat_clean = set(airlines['cleanliness']).difference(categories['cleanliness'])

In [111]:
print(list(cat_clean))

['Somewhat dirty']

### 16-Find rows of airlines with a cleanliness value not in categories: cat_clean_rows

In [113]:
cat_clean_row= airlines["cleanliness"].isin(cat_clean)

### 17-Print rows with inconsistent category

In [ ]:
print(airlines[cat_clean_rows])

### 18-Print rows with consistent categories only

In [ ]:
print(airlines[~cat_clean_rows])

## Inconsistent categories

### 19-Print the unique values in dest_region and dest_size respectively.

In [ ]:
print(airlines['dest_region'].unique())
print(airlines['dest_size'].unique())

### 20-Change the capitalization of all values of dest_region to lowercase.
### 20-Replace the 'eur' with 'europe' in dest_region using the .replace() method.

In [120]:
airlines['dest_region']=airlines['dest_region'].str.lower()
airlines['dest_region']=airlines['dest_region'].replace({'eur':"europe"})

In [122]:
print(airlines['dest_region'].unique())

['asia' 'canada/mexico' 'west us' 'east us' 'midwest us' 'middle east'
 'europe' 'central/south america' 'australia/new zealand']

### 21-Remove white spaces from `dest_size`. Strip white spaces from the dest_size column using the .strip() method.

In [123]:
airlines['dest_size'] = airlines['dest_size'].str.strip()

### Verify that the changes have been into effect by printing the unique values of the columns using .unique().

In [51]:
print(airlines['dest_region'].unique())
print(airlines['dest_size'].unique())

['asia' 'canada/mexico' 'west us' 'east us' 'midwest us' 'middle east'
 'europe' 'central/south america' 'australia/new zealand']
['Hub' 'Small' 'Medium' 'Large']

## Uniform currencies

### Import pandas using the alias pd

In [6]:
import pandas as pd

### Import ride_sharing CSV file as a DataFrame: ride_sharing

In [ ]:
banking=pd.read_csv('cbanking.csv', parse_dates=["birth_date"])
print(banking.head())

In [125]:
print(banking['account_opened'].head())

0    02-09-18
1    28-02-19
2    25-04-18
3    07-11-17
4    14-05-18
Name: account_opened, dtype: object

### 22-Convert account_opened to datetime

In [127]:
banking['account_opened'] = pd.to_datetime(banking['account_opened'],
                                           # Infer datetime format
                                            infer_datetime_format=True,
                                           # Return missing value for error
                                           errors = 'coerce')

### Print the header of account_opened

In [128]:
print(banking['account_opened'].head())

0   2018-02-09
1   2019-02-28
2   2018-04-25
3   2017-07-11
4   2018-05-14
Name: account_opened, dtype: datetime64[ns]

### 23-Get year of account opened

In [43]:
banking['acct_year'] = banking['account_opened'].dt.strftime('%Y')

In [ ]:
# Print acct_year

In [44]:
print(banking['acct_year'])

0     2018
1     2019
2     2018
3     2017
4     2018
      ...
95    2018
96    2017
97    2017
98    2017
99    2017
Name: acct_year, Length: 100, dtype: object

# How's our data integrity?

### 24-Find the rows where the sum of all rows of the fund_columns in banking are equal to the inv_amount column.

In [20]:
# fund columns is as follow
fund_columns = ['fund_A', 'fund_B', 'fund_C', 'fund_D']

# Find rows where fund_columns row sum == inv_amount
inv_equ = banking[fund_columns].sum(axis=1) == banking['inv_amount']

Number of inconsistent investments:  8

### 25-Store the values of banking with consistent inv_amount in consistent_inv, 
### and those with inconsistent ones in inconsistent_inv.

In [ ]:
consistent_inv = banking[inv_equ]
inconsistent_inv = banking[~inv_equ]

In [ ]:
# print consistent and inconsistent data in this way: 'Number of  consistent and inconsistent investments:  (consis, inconsist)'

In [21]:
print("Number of inconsistent investments: ", inconsistent_inv.shape[0])

Number of inconsistent investments:  (8, 13)

### 26-Store today's date into today, and manually calculate customers' ages and store them in ages_manual.
### 26-Find all rows of banking where the age column is equal to ages_manual and then filter banking into consistent_ages and inconsistent_ages.

In [25]:
# Import datatime using the alias dt

In [45]:
import pandas as pd
import datetime as dt

In [46]:
#27- Store today's date and find ages
today = dt.date.today()
ages_manual = today.year - banking['birth_date'].dt.year

In [48]:
#28- Find rows where age column == ages_manual
age_equ = banking['Age'] == ages_manual

# Store consistent and inconsistent data
consistent_ages = banking[age_equ]
inconsistent_ages = banking[~age_equ]

# Store consistent and inconsistent data
print("Number of inconsistent ages: ", inconsistent_ages.shape[0])

Number of inconsistent ages:  100