# 3-Logic, Control Flow and Filtering

## Comparison

### Comparison of strings. Ask Python whether the strings "pyscript" and "PyScript" are equal.

In [1]:
"pyscript"=="PyScript"

False

### Compare a boolean with an integer. 
### What happens if you compare booleans and integers? 
### Write code to see if True and 1 are equal.

In [6]:
True==1

True

### Created arrays

In [9]:
import numpy as np

my_house = np.array([18.0, 20.0, 10.75, 9.50])

your_house = np.array([14.0, 24.0, 14.25, 9.0])

### my_house less than your_house. Which areas in my_house are smaller than the ones in your_house?

In [12]:
print(my_house < your_house)

array([False,  True,  True, False])

# and, or, not (1)

### *Define variables

In [14]:
my_kitchen = 18.0
your_kitchen = 14.0

### if my_kitchen is bigger than 10 and smaller than 18?

In [15]:
print(my_kitchen>10 and my_kitchen<18)

False

### my_kitchen smaller than 14 or bigger than 17?

In [16]:
print(my_kitchen>17 or my_kitchen<14)

True

# Boolean operators with Numpy

### Create arrays

In [17]:
import numpy as np
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

### my_house greater than 18.5 or smaller than 10: middle?

In [18]:
middle=np.logical_or(my_house > 18.5, my_house < 10)

### print out the values

In [21]:
print(my_house[middle])

[20.   9.5]

# if

### *Define variables

In [34]:
room = "kit"
area = 14.0

### Examine the if statement that prints out "Looking around in the kitchen." if room equals "kit"

In [35]:
if room == "kit":
    print("Looking around in the kitchen.")

Looking around in the kitchen.

### Customize further: elif & else.
### Define variables.

In [37]:
room = "bed"
area = 14.0

In [14]:
# write if-elif-else construct for area as follow:
# Write another if statement that prints out "big place!" if area is greater than 17
# Add an elif to the second control structure such that "pretty big place!" is printed out if area is greater than 15.
# Add an elif to the third control structure such that "medium size, nice!" is printed out if area is greater than 10.
# Add an else statement to the second control structure so that "pretty small." is printed out if area > 15 evaluates to False.

In [38]:
if area > 17 :
    print("big place!")
elif area > 15 :
    print("pretty big place!")
elif area > 10 :
    print("medium size, nice!")
else :
    print("pretty small.")

medium size, nice!

# Filtering pandas DataFrames

### *Import cars data from CSV file, so that first column known as row index.

In [48]:
import pandas as pd
cars = pd.read_csv('D:\data camp\Intermediate to python\cars.csv', index_col=0)

### *print out the cars

In [41]:
cars.head()

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True

### Extract drives_right column as Series: dr

In [42]:
dr=cars['drives_right']

### *Print out dr

In [46]:
print(dr)

US      True
AUS    False
JAP    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool

### Use dr to subset cars: sel

In [43]:
sel=cars[dr]

### Convert code to a one-liner

In [44]:
sel = cars[cars['drives_right']]

### *Print sel

In [45]:
print(sel)

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

# هدف ما از این تمرین این بود که به شما نشان دهیم که چکونه از یک ستون با مقادیر بولین، یک زیرمجموعه از دیتافریم استخراج کنیم.

### Create car_b: observations that have a cars_per_cap over 500: car_b

In [52]:
car_b = cars[cars['cars_per_cap'] > 500]

### *Print car_b

In [53]:
print(car_b)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False

### Create medium: observations with cars_per_cap between 100 and 500: medium

In [54]:
medium = cars[np.logical_and(cars["cars_per_cap"]>100, cars["cars_per_cap"]<500)]

### *Print medium

In [55]:
print(medium)

    cars_per_cap country  drives_right
RU           200  Russia          True