# Intermediate to python2

### Motivation for dictionaries

In [17]:
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

## Get index of 'germany': indger

In [18]:
indger=countries.index('germany')

## Use indger to print out capital of Germany

In [19]:
print(capitals[indger])

berlin

## From string in countries and capitals, create dictionary europe

In [20]:
europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn','norway':'oslo'}

## *Print europe

In [21]:
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'bonn', 'norway': 'oslo'}

## Print out the keys in europe

In [22]:
print(europe.keys())

dict_keys(['spain', 'france', 'germany', 'norway'])

## Print out value that belongs to key 'norway'

In [23]:
print(europe['norway'])

oslo

## Add the key 'italy' with the value 'rome' to europe.

In [24]:
europe['italy']='rome'

## *Print out italy in europe.

In [25]:
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'bonn', 'norway': 'oslo', 'italy': 'rome'}

## Update capital of germany to 'berlin'.

In [26]:
europe['germany']='berline'

## Remove france.

In [27]:
del(europe['france'])

## *Print europe.

In [28]:
print(europe)

{'spain': 'madrid', 'germany': 'berline', 'norway': 'oslo', 'italy': 'rome'}

# Dictionariception

## *Dictionary of dictionaries

In [30]:
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }

## Print out the capital of France (important)

In [31]:
europe['france']['capital']

'paris'

## *Create a dictionary, named data, with the keys 'capital' and 'population'. 
## *Set them to 'rome' and 59.83, respectively.

In [33]:
data={'population': 59.83, 'capital': 'rome'}

## Add data to europe under key 'italy'

In [34]:
europe['italy']=data

## *Print europe

In [35]:
print(europe)

{'spain': {'capital': 'madrid', 'population': 46.77}, 'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}, 'italy': {'population': 59.83, 'capital': 'rome'}}

# Dictionary to DataFrame (1)

## *Pre-defined lists.
## *names, containing the country names for which data is available.
## *dr, a list with booleans that tells whether people drive left or right in the corresponding country.
## *cpc, the number of motor vehicles per 1000 people in the corresponding country.

In [1]:
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

## *Create dictionary my_dict with three key:value pairs: my_dict

In [2]:
my_dict = {'country':names, 'drives_right':dr, 'cars_per_cap':cpc}

## *Import pandas as pd

In [3]:
import pandas as pd

## Build a DataFrame cars from my_dict: cars

In [4]:
car = pd.DataFrame(my_dict)

## *Print europe

In [5]:
print(car)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

## *Definition of row_labels

In [7]:
row_label = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

### Specify row labels of cars

In [8]:
car.index=row_label

### *Print car again

In [9]:
print(car)

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

### Print out the car data from 2008 onward

In [13]:
print(car['IN':])

     country  drives_right  cars_per_cap
IN     India         False            18
RU    Russia          True           200
MOR  Morocco          True            70
EG     Egypt          True            45

# CSV to DataFrame (1)

## *Import pandas as pd

In [52]:
import pandas as pd

### *Use pd.read_csv() to import cars.csv data as a DataFrame. 
### *Store this dataframe as cars. Import the cars.csv data: cars

In [54]:
cars = pd.read_csv('D:\data camp\Intermediate to python\cars.csv')

### *Print out cars. Is everything Ok?

In [55]:
print(cars)

  Unnamed: 0  cars_per_cap        country  drives_right
0         US           809  United States          True
1        AUS           731      Australia         False
2        JAP           588          Japan         False
3         IN            18          India         False
4         RU           200         Russia          True
5        MOR            70        Morocco          True
6         EG            45          Egypt          True

### Remember index_col, an argument of read_csv(), that you can use to specify which column in the CSV file should be used as a row label? 
### Well, that's exactly what you need here!

### Fix import by including index_col.

In [56]:
cars=pd.read_csv('D:\data camp\Intermediate to python\cars.csv', index_col=0)

### *Print out cars

In [57]:
print(cars)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

# Square Brackets (1)

### Print out country column as Pandas Series

In [58]:
cars['country']

US     United States
AUS        Australia
JAP            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object

## Print out country column as Pandas DataFrame

In [59]:
cars[['country']]

           country
US   United States
AUS      Australia
JAP          Japan
IN           India
RU          Russia
MOR        Morocco
EG           Egypt

## Print out DataFrame with country and drives_right columns

In [60]:
cars[['country', 'drives_right']]

           country  drives_right
US   United States          True
AUS      Australia         False
JAP          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

# Square Brackets (2)

## Print out first 3 observations

In [62]:
print(cars[0:2])

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False

## Print out fourth, fifth and sixth observation

In [64]:
print(cars[3:6])

     cars_per_cap  country  drives_right
IN             18    India         False
RU            200   Russia          True
MOR            70  Morocco          True

# loc and iloc (1)

### Use loc or iloc to select the observation corresponding to Japan (JAP) as a Series. 
### The label of this row is JPN, the index is 2. 
### Make sure to print the resulting Series.

In [69]:
print(cars.loc['JAP'])

cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object

### Use loc or iloc to select the observations for Australia (AUS) and Egypt (EG) as a DataFrame. 
### You can find out about the labels/indexes of these rows by inspecting cars in the IPython Shell. 
### Make sure to print the resulting DataFrame. 
### Print out observations for Australia and Egypt.

In [67]:
print(cars.loc[['AUS', 'EG']])

     cars_per_cap    country  drives_right
AUS           731  Australia         False
EG             45      Egypt          True

# loc and iloc (2)

### Print out a cell, the drives_right value of the row corresponding to Russia (its row label is RU)

In [71]:
print(cars.loc['RU','drives_right'])

True

### Print out a sub-DataFrame, containing the observations for Russia and India and the columns country and drives_right.

In [72]:
print(cars.loc[['RU', 'IN'],['country','drives_right']])

   country  drives_right
RU  Russia          True
IN   India         False