## 1-comments?

## Python as a calculator

### 2-Experiment in the IPython Shell; type 5 / 8, for example.Example, do not modify!

### 3-Addition, subtraction, Multiplication, division, modulo, and exponentiation of 7 & 10

In [ ]:
print()
print()
print()
print()
print()
print()

# Variables and Types

### 4-Create a variable naming kntu and savings with the value 100.
### 4-Then call it.

In [8]:
kntu=100
kntu

100

### 5-Create a new string, kntu, with the value "K N Toosi University".
### 5-Print out it.

K N toosi University

### 6-Create a new Boolean, KNTU, with the value True.

### 7-Print the type of KNTU

### 8-Assign sum of KN and TU to Affiliation.

In [13]:
Affiliation=

### 9-Print out Affiliation.

In [ ]:
print(Affiliation)

### *We have the definition of savings and result.

In [15]:
savings = 100
result = 100 * 1.10 ** 7

### 10-Fix the printout "I started with saving and now have $ result. Awesome!"

### 11-Print out 'I said Hey Hey Hey!'

I said HeyHeyHey!

### Definition of pi_string

In [23]:
pi = "3.1415926"

### 12-Convert pi_string into float: pi_float

# list

### 13-Creat a list including 3 components like [3, 'aaa', 3], naming "KNTU"
### Print "KNTU" out.

In [ ]:

print(KNTU)

### *Area variables (in square meters)

In [27]:
hall = 13
kit = 18
liv = 20.5
bed = 10.75
bath = 4

### 14-Create list areas

In [37]:
areas=

### *Print areas

In [ ]:
print(areas)

### 15-House information as list of lists. 
### 15-Build the list so that the list first contains the name of each room as a string and then its area. In other words, add the strings "hallway", "kitchen" and "bedroom" at the appropriate locations.

### *Print out the type of house

In [ ]:
print(type(house))

### *Print out the list

In [ ]:
print(house)

# List slicing

### 16-Print out the second element from the areas list (it has the value 13).

### 17-Use slicing to create a list, downstairs, that contains the first 6 elements of areas.

In [39]:
downstairs=

In [ ]:
print(downstairs)

### 18-Do a similar thing to create a new variable, upstairs, that contains the last 4 elements of areas with two method.

In [ ]:
print(areas)

In [ ]:
upstairs2 = 
print(upstairs2)

In [ ]:
upstairs1 = 
print(upstairs1)

### list of list

In [45]:
x = [["a", "b", "c"],
     ["d", "e", "f"],
     ["g", "h", "i"]]

### 19-Select "g", "h"

### Create the areas list

In [52]:
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

### 20-Update the area of the bathroom area to be 10.50 square meters instead of 9.50.

In [50]:

print(areas)

['hall', 13, 'kit', 18.0, 'liv', 12, 'bed', 10.75, 'bath', 10.5]

### 21-Change "living room" to "chill zone"

### 22-Add poolhouse (area = 24.5) data to areas, new list is areas_1.

In [52]:

print(areas_1)

['hall', 13, 'kit', 18.0, 'chill zone', 12, 'bed', 10.75, 'bath', 10.5, 'pollhouse', 24.5]

### 23-delete poolhouse and its area from areas_1 list

In [58]:

print(areas_1)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5]