# 3- Functions and Packages

### *Suppose we have variables var1 and var2

In [2]:
var1 = [1, 2, 3, 4]
var2 = True

### 1-Print out length of var1

### 2-Convert var2 to an integer: out2, then print it out.

### *Suppose we have first and second list as follow:

In [7]:
first = [11.25, 18.0, 20.0]
second = [10.75, 9.50]

### 3-Paste together first and second: full

In [ ]:

print(full)

### 4-Sort full in descending order: full_sorted

#### 4-Hint: the syntax of sorted function is: sorted(___, reverse = ___)

In [12]:
full_sorted=

### *Print out full_sorted

In [13]:
print(full_sorted)

[9.5, 10.75, 11.25, 18.0, 20.0]

### *String to experiment with: place

In [14]:
place = "poolhouse"

### 5-Use upper() on place: place_up

In [16]:
place_up=

### *Print out place and place_up

In [ ]:
print(place_up)
print(place)

### 6-Print out the number of o's in place

# 4-List Methods

### Created list areas

In [34]:
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

### 7-Print out the index of the element 20.0

### 8-Print out how often 9.50 appears in areas

In [ ]:
print()

### 9-Use append method twice to add poolhouse and garage size as 24.5 and 15.4 sequre meter respectively and then print out areas.

## 10-Reverse the orders of the elements in areas

## *Print out areas

In [ ]:
print(areas)

# 5-Packages

### *Definition of radius

In [41]:
r = 0.43

### 10-Import the math package as ma. Now you can access the constant pi with ma.pi

### 11-Calculate the circumference of the circle: c

In [ ]:

print(c)

### *Calculate Area: a

In [ ]:
a = ma.pi*r**2
print(a)

# 6-Array

### *We create list of height of some baseball players as follow.

In [45]:
baseball = [77, 80, 85, 69, 64, 76, 79, 72, 78, 75, 83, 74, 67, 81, 73, 71]

### 12-Import the numpy package as np

In [44]:
import numpy as np

### 13-Create a numpy array from baseball: np_baseball

### *Print out type of np_baseball

In [ ]:
print(type(np_baseball))

### 14-Convert np_baseball to meter: np_baseball_m (Multiply np_height_in with 0.0254 to convert all height measurements from inches to meters.)

### *Print np_height_m

In [ ]:
print(np_baseball_m)

### 15-Create a numpy array as follow:
### 15-The element of the array should be True if the corresponding baseball player's height(meter) is below 2. 
### 15-Name the array:  lower.

### *Print out lower

In [ ]:
print(lower)
print(type(lower))

### 16-Print out lower of all baseball players height in np_baseball_m whose height is below 2 m.

In [ ]:
print()

### 17-Print out the height at index 5 in "np_baseball_m" array

In [ ]:
print(np_baseball_m)

### 18-Print out sub-array of np_height_m: index 5 up to and including index 11

### Have a look at this line of code:

### np.array([True, 1, 2]) + np.array([3, 4, False])

### Can you tell which code chunk builds the exact same Python object?

In [4]:
# 1-np.array([True, 1, 2, 3, 4, False])

# 2-np.array([4, 3, 0]) + np.array([0, 2, 2])

# 3-np.array([1, 1, 2]) + np.array([3, 4, -1])

# 4-np.array([0, 1, 2, 3, 4, 5])

# 7- 2D Numpy Arrays

### *Create baseball, a list of lists

In [39]:
baseball = [[180, 78.4],
            [215, 102.7],
            [210, 98.5],
            [188, 75.2]]

### *Import numpy as np

In [40]:
import numpy as np

### 20-Create a 2D numpy array from baseball: npbaseball

In [41]:
npbaseball=

### *Print out the type of np_baseball

In [42]:
print(npbaseball)

[[180.   78.4]
 [215.  102.7]
 [210.   98.5]
 [188.   75.2]]

### 21-Print out the shape of npbaseball

### 22-Print out the 4th row of npbaseball with two methods.

In [ ]:
print()
print()

### 23-Select the entire second column of npbaseball: npweight

In [45]:
npweight=

### *Print out npweight

In [ ]:
print(npweight)

### *Select the height (first column) of the 4th baseball player

In [47]:
npbaseball[3,0]

188.0

# 8- Numpy: Basic Statistics

### *Create baseball, a list of lists

In [48]:
baseball = [[180, 78.4],
            [215, 102.7],
            [210, 98.5],
            [188, 75.2]]

### *Import numpy

In [49]:
import numpy as np

### *Create a 2D numpy array from baseball: npbaseball

In [50]:
npbaseball=np.array(baseball)

### 24-Create npheight from npbaseball

In [51]:
npheight=

### *Print out npheight

In [ ]:
print(type(npheight))

### 25-Calculate mean of height (first column): avg

In [53]:
avg=

### *Print out the mean of npheight in this way: "Average: 198.25"

In [ ]:
print("Average: " + str(avg))

### 26-Calculate median of height. (first column): med

In [55]:
med=

### *Print out the median of npheight: "Median: 199.0"

In [ ]:
print("Median: " + str(med))

### *Calculate correlation between first and second column.

In [58]:
corr = np.corrcoef(npbaseball[:,0],npbaseball[:,1])

### *Print out the correlation.

In [59]:
print("Correlation: " + str(corr))

Correlation: [[1.         0.95865738]
 [0.95865738 1.        ]]